@model IEnumerable<MentalHealthApp.Models.Psychologist>

@{
    ViewBag.Title = "Psychological Counseling";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isAdmin = ViewBag.IsAdmin;
}

<h2>Psychological Counseling</h2>

@if (isAdmin)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@if (isAdmin)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Photo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Specialization)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AverageRating)
                </th>
                <th>
                    Actions
                </th>
            </tr>
            <
        </thead>>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.Photo" alt="Psychologist Photo" style="width:100px;height:auto;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialization)
                    </td>
                    <td>
                        @{
                            var averageRating = item.AverageRating;
                            if (averageRating == 0)
                            {
                                <text>No Ratings</text>
                            }
                            else
                            {
                                <text>@averageRating</text>
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Url.Content(item.Photo)" alt="Psychologist Photo" class="img-thumbnail" />
                    </div>
                    <div class="col-md-9">
                        <h4>@item.FirstName @item.LastName</h4>
                        <p>@item.Specialization</p>
                        <p>Rating: @item.AverageRating</p>
                        <a href="@Url.Action("Create", "Appointments", new { psychologistId = item.Id })" class="btn btn-primary">Book</a>
                    </div>
                </div>
            </div>
        }
    </div>
}