@model IEnumerable<MentalHealthApp.Models.Appointment>

@{
    ViewBag.Title = "Appointments";
}

<h2>Appointments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="appointmentsTable" class="display">
    <thead>
        <tr>
            <th>Psychologist</th>
            <th>Appointment Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Psychologist.FullName</td>
                <td>@item.AppointmentDate</td>
                <td>
                    @if (item.CanRate)
                    {
                        using (Html.BeginForm("Rate", "Manage"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("appointmentId", item.Id)
                            <div class="form-group" style="padding-bottom: 10px;">
                                @Html.Label("Score")
                                @Html.TextBox("score", null, new { @class = "form-control col-md-4", type = "number", min = "0", max = "5", step = "0.1", required = "required", @oninvalid = "this.setCustomValidity('The score must be between 0 and 5, with a maximum of one decimal place.')", @oninput = "this.setCustomValidity('')" })
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Rating</button>
                        }
                    }
                    else if (item.RatingScore.HasValue)
                    {
                        <span>Rated: @item.RatingScore</span>
                    }
                    @Html.ActionLink("Details", "Details", "Appointments", new { id = item.Id }, null)

                    @* 仅在预约时间未到时才显示 Edit 链接 *@
                    @if (item.AppointmentDate > DateTime.Now)
                    {
                        @Html.ActionLink("Edit", "Edit", "Appointments", new { id = item.Id }, null)
                    }
                    @Html.ActionLink("Delete", "Delete", "Appointments", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            // 初始化DataTable
            $('#appointmentsTable').DataTable({
                "pageLength": 10,   // 设置每页显示10行
                "ordering": true,   // 启用列排序
                "searching": true,  // 启用搜索功能
                "lengthChange": false // 禁用用户更改每页行数的选项
            });
        });
    </script>
}
